@font-face {
    font-family: YuGo;
    src: local(YuGo-Medium),
    url(/path/to/YuGo-Medium.woff2) format("woff2"),
    url(/path/to/YuGo-Medium.woff) format("woff"),
    url(/path/to/YuGo-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: YuGo;
    src: local(YuGo-Bold),
    url(/path/to/YuGo-Bold.woff2) format("woff2"),
    url(/path/to/YuGo-Bold.woff) format("woff"),
    url(/path/to/YuGo-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

h1 {
    font-family: YuGo;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.13px;
}

h2 {
    font-family: YuGo;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

h3 {
    font-family: YuGo;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.04px;
}

big {
    font-family: YuGo;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.08px;
}

body {
    font-family: YuGo;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.11px;
}

caption {
    font-family: YuGo;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.08px;
}

label {
    font-family: YuGo;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #191919;
}

.tabelog-login-input {
    border-radius: 2px;
    border: solid 1px #b2b2b2;
    background-color: #ffffff;
}

.tabelog-check-label {
    font-family: YuGo;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.tabelog-require-input-label {
    border-radius: 1px;
    background-color: #e2001b;
}

.tabelog-require-input-label-text {
    font-family: YuGo;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.tabelog-submit-button {
    font-family: YuGo;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    background-color: #ffc107;
}

.tabelog-login-text {
    font-family: YuGo;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffc107;
}

.tabelog-header-container {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.tabelog-header-search-input {
    border: solid 1px #e5e5e5;
}

.tabelog-header-search-button {
    background-color: #ffc107;
}

.tabelog-header-search-icon {
    color: #ffffff;
}

.tabelog-header-fav-icon {
    color: #191919;
}

.tabelog-header-shoppingcart-icon {
    color: #ffffff;
}

a.navbar-brand img {
    width: 150px;
}

.tabelog-favorite-button {
    border-radius: 2px;
    border: solid 1px #ffc107;
    background-color: #ffffff;
}

.text-favorite {
    color: #ffc107;
}

.tabelog-sidebar-category-label {
    width: 156px;
    height: 20px;
    font-family: YuGo;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #191919;
}

.tabelog-favorite-add-cart {
    border-radius: 2px;
    color: #ffffff;
    background-color: #ffc107;
}

.review-score-color {
    color: #ffc107;
}

.review-score-color:focus {
    color: #ffc107;
}

.tabelog-delete-submit-button {
    border-radius: 2px;
    color: #ffffff;
    background-color: #d94b0e;
}

.tabelg-reserve-input{
    border-radius: 2px;
    border: solid 1px #b2b2b2;
    background-color: #ffffff;
}

#modalBody {
    white-space: pre-wrap;
}